.bg1{
    background: linear-gradient(#189ffd, #29f39c);
    height: 100vh;
}
*{
    margin: 0px;
}
.bg2{
    background-color: white;
    border-radius: 20px;
    height: 75%; 

}
.span{
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
}